# Pandas DataFrames

* A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.   
* A Pandas DataFrame is a size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns)

In [6]:
# Creating a DataFrame from a Matrix
# A matrix can be represented using a NumPy array or a list of lists. Here's how you can create a DataFrame from these structures.
import pandas as pd
import numpy as np
# Create a NumPy array
matrix = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])

# Create DataFrame from NumPy array
df = pd.DataFrame(matrix, columns=['A', 'B', 'C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
# Creating a DataFrame from a Dictionary
# You can create a DataFrame from a dictionary of lists or a dictionary of Series.

data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 24, 35, 32],
    'City': ['New York', 'Paris', 'Berlin', 'London']
}

# Create DataFrame from dictionary of lists
df = pd.DataFrame(data)
print(df)

    Name  Age      City
0   John   28  New York
1   Anna   24     Paris
2  Peter   35    Berlin
3  Linda   32    London

* Reading a CSV File     
     You can use the read_csv() function to read data from a CSV file into a DataFrame.

* Read CSV Files
*  A simple way to store big data sets is to use CSV files (comma separated files).
*  CSV files contains plain text and is a well know format that can be read by everyone including Pandas..csv'

In [10]:
#Load the CSV into a DataFrame:
import pandas as pd
df = pd.read_csv('C:/Users/SUNAYANA/OneDrive/Desktop/data.csv')
print(df.to_string())

        Name   Age      City
0     John      28  New york
1     Anna      24     Paris
2    Peter      35    Berlin
3    Linda      32    London

In [12]:
df1 = pd.read_csv('C:/Users/SUNAYANA/OneDrive/Desktop/data.csv', delimiter=';')
print(df1.to_string())

           Name ,Age,City
0     John   ,28,New york
1        Anna   ,24,Paris
2      Peter   ,35,Berlin
3      Linda   ,32,London

In [16]:
#Handling Missing Values:
df2= pd.read_csv('C:/Users/SUNAYANA/OneDrive/Desktop/data.csv', na_values=['NA', 'Missing'])
df2

        Name    Age      City
0     John     28.0  New york
1     Anna      NaN     Paris
2    Peter     35.0    Berlin
3    Linda     32.0    London