* iloc (Integer-location based indexing)
* iloc is used for integer-based indexing. It allows you to select rows and columns by their integer position.

In [2]:
import pandas as pd
data = {
    'A': [1, 2, 3, 4],
    'B': [10, 20, 30, 40],
    'C': [100, 200, 300, 400],
    'D': [1000, 2000, 3000, 4000]
}

df = pd.DataFrame(data)
print(df)
# Selecting Rows and Columns using iloc
# Select the first row
print(df.iloc[0])

# Select the first two rows
print(df.iloc[:2])

   A   B    C     D
0  1  10  100  1000
1  2  20  200  2000
2  3  30  300  3000
3  4  40  400  4000
A       1
B      10
C     100
D    1000
Name: 0, dtype: int64
   A   B    C     D
0  1  10  100  1000
1  2  20  200  2000

* loc (Label-location based indexing)
* loc is used for label-based indexing. It allows you to select rows and columns by their labels.

In [3]:
import pandas as pd
data = {
    'A': [1, 2, 3, 4],
    'B': [10, 20, 30, 40],
    'C': [100, 200, 300, 400],
    'D': [1000, 2000, 3000, 4000]
}
df = pd.DataFrame(data)
print(df.loc[0])

A       1
B      10
C     100
D    1000
Name: 0, dtype: int64

In [4]:
#Select a single column by label:
print(df.loc[:, 'A'])

0    1
1    2
2    3
3    4
Name: A, dtype: int64

In [5]:
# # Select rows 0 and 2, and columns 0 and 2
print(df.iloc[[0, 2], [0, 2]])

   A    C
0  1  100
2  3  300

* conditional selection
* Conditional selection in pandas DataFrame allows you to filter rows based on certain conditions.

In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
    'Age': [25, 30, 35, 40, 45],
    'Gender': ['Female', 'Male', 'Male', 'Male', 'Female'],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}

df = pd.DataFrame(data)
# To select rows where the age is greater than 30:
# Select rows where Age > 30
age_gt_30 = df[df['Age'] > 30]

print(age_gt_30)

* In pandas, you can add, delete, and update columns in a DataFrame using various methods.

In [7]:
#Adding column
import pandas as pd
data = {
    'A': [1, 2, 3, 4],
    'B': [10, 20, 30, 40]
}
df = pd.DataFrame(data)

# Adding a new column 'C'
df['C'] = [100, 200, 300, 400]
print(df)

   A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400

In [8]:
#Deleting a Column
# To delete a column, you can use the drop() method with the axis parameter set to 1:

# Deleting column 'B'
df = df.drop('B', axis=1)
print(df)

# Deleting column 'C' using del
del df['C']
print(df)

   A    C
0  1  100
1  2  200
2  3  300
3  4  400
   A
0  1
1  2
2  3
3  4

In [9]:
# Updating a Column
# To update values in a column, you can directly assign new values to the column:
df['A'] = [10, 20, 30, 40]
print(df)

    A
0  10
1  20
2  30
3  40

* Index

In [10]:
# Setting an Index
# To set an index for a DataFrame, you can use the set_index() method:
import pandas as pd
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}
df = pd.DataFrame(data)
# Set 'A' column as index
df.set_index('A', inplace=True)
print(df)

   B  C
A
1  4  7
2  5  8
3  6  9

In [11]:
# Resetting Index
# To reset the index and move it back to columns, you can use the reset_index() method:
df.reset_index(inplace=True)
print(df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [12]:
# Removing Index
# to remove the index completely without resetting it back to columns, you can set drop=True in reset_index():
df.reset_index(drop=True, inplace=True)
print(df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

* Arithmatic Operations between two columns

In [13]:
import pandas as pd
data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8]
}
df = pd.DataFrame(data)
print(df)

# Addition
df['Sum'] = df['A'] + df['B']

# Subtraction
df['Difference'] = df['A'] - df['B']

# Multiplication
df['Product'] = df['A'] * df['B']

# Division
df['Quotient'] = df['A'] / df['B']

print(df)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8
   A  B  Sum  Difference  Product  Quotient
0  1  5    6          -4        5  0.200000
1  2  6    8          -4       12  0.333333
2  3  7   10          -4       21  0.428571
3  4  8   12          -4       32  0.500000