# Python Lists

* Lists are used to store multiple items in a single variable.    
* 
Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with differen        t qualities and usag
* Lists are created using square brackets
* List items are ordered, changeable, and allow duplicate values.
* List items are indexed, the first item has index [0], the second item has index [1]
* python lists are mutable.
* A list can contain different data types      ts:

In [2]:
# Creating lists
list = [1, "hello", 3.14, True]
print(list)

[1, 'hello', 3.14, True]

In [4]:
# data type
type(list)

list

In [11]:
# indexing
list = [1, "hello", 3.14, True]
a=list[0]
b=list[-2]
print(a)
print(b)

1
3.14

In [12]:
# Allow Duplicates
my_list = [10, 20, 30, 10, 40, 20]
print(my_list)

[10, 20, 30, 10, 40, 20]

In [13]:
# List Length : To determine how many items a list has
list = [1, "hello", 3.14, True]
len(list)

4

In [15]:
# slicing list
# Slicing the first three elements
print(list[:3])  

# Slicing from the second element to the end
print(list[1:])  

# Slicing with a step
print(list[::2])

[1, 'hello', 3.14]
['hello', 3.14, True]
[1, 3.14]

In [24]:
# Modifying List Elements
# Changing an element
list[1] = "World"
print(list)

[1, 'World', 30, 30, True]

* List Methods

 Method	                            Description
 
append()	               Adds an element at the end of the list
clear()                    Removes all the elements from the list
copy()	                   Returns a copy of the list
count()	                   Returns the number of elements with the specified value
extend()	               Add the elements of a list (or any iterable), to the end of the current list
index()	                   Returns the index of the first element with the specified value
insert()	               Adds an element at the specified position
pop()	                   Removes the element at the specified position
remove()	               Removes the item with the specified value
reverse()	               Reverses the order of the list
sort()	                   Sorts the list

In [32]:
# append()
list = [1, "hello", 3.14, True]
list.append("College")
print(list)
#Add a list to a list:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)
print(a)

[1, 'hello', 3.14, True, 'College']
['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [34]:
# clear()
list.clear()
print(list)

[]

In [36]:
# copy()
y=my_list.copy()
print(y)

[10, 20, 30, 10, 40, 20]

In [38]:
# count()
my_list.count(20)

2

In [39]:
# extend()
fruits = ['apple', 'banana', 'cherry']
fruits.extend(["elderberry", "fig"])
print(fruits)

['apple', 'banana', 'cherry', 'elderberry', 'fig']

In [44]:
# index()	 
x=fruits.index("banana")
print(x)

1

In [56]:
# insert()
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [57]:
# pop()
fruits.pop()

'cherry'

In [66]:
# remove() 
fruits = ['apple', 'banana', 'cherry']
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [67]:
# reverse()
my_list.reverse()
print(my_list)

[20, 40, 10, 30, 20, 10]

In [68]:
# sort()	
my_list.sort()
print(my_list)

[10, 10, 20, 20, 30, 40]