# Python Sets

* Sets are used to store multiple items in a single variable.
* Set is one of 4 built-in data types in Python used to store collections of data
* A set is a collection which is unordered, unchangeable*, and unindexed.
* Set items are unchangeable, but you can remove items and add new items.
* Sets are written with curly brackets.
* Sets do not allow duplicate values.

In [3]:
# Create a Set
set={"a","b","c"}
print(set)

{'a', 'b', 'c'}

In [4]:
#  Duplicates Not Allowed
set={"a","b","c","b"}
print(set)

{'a', 'b', 'c'}

In [5]:
# The values True and 1 are considered the same value in sets, and are treated as duplicates:
set={1,"a","b","c","b",4,True}
print(set)

{'a', 1, 4, 'c', 'b'}

In [7]:
# the values False and 0 are considered the same value in sets, and are treated as duplicates:
set={False,"a","b","c","b",4,0}
print(set)

{False, 'a', 4, 'c', 'b'}

In [8]:
# set length
set={"a","b","c"}
print(len(set))

3

In [10]:
# A set can contain different datatypes
set={"a",2,49,True}
print(type(set))

<class 'set'>

* Set Methods

Method	                     Shortcut	             Description

add()	 	                                   Adds an element to the set
clear()	 	                                   Removes all the elements from the set
copy()	 	                                   Returns a copy of the set
difference()	               -	           Returns a set containing the difference between two or more sets
difference_update()    	      -=               Removes the items in this set that are also included in another, specified set
discard()	 	                               Remove the specified item
intersection()	               &	           Returns a set, that is the intersection of two other sets
intersection_update()	       &=	           Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	 	                           Returns whether two sets have a intersection or not
issubset()	                   <=	           Returns whether another set contains this set or not
 	                           <	           Returns whether all items in this set is present in other, specified set(s)
issuperset()	               >=	           Returns whether this set contains another set or not
 	                           >	           Returns whether all items in other, specified set(s) is present in this set
pop()	 	                                   Removes an element from the set
remove()	 	                               Removes the specified element
symmetric_difference()	       ^	           Returns a set with the symmetric differences of two sets
symmetric_difference_update()  ^=	           Inserts the symmetric differences from this set and another
union()	                       |	           Return a set containing the union of sets
update()	                   |=	           Update the set with the union of this set and others

In [13]:
# add() : The add() method adds an element to the set.
set={1,"a","d","c","e",4}
set.add("b")
print(set)

{'a', 1, 'e', 4, 'c', 'b', 'd'}

In [17]:
# clear() : The clear() method removes all elements in a set.
set={1,"a","d","c","e",4}
set.clear()
print(set)

set()

In [19]:
# copy() : The copy() method copies the set.
set={1,"a","d","c","e",4}
x=set.copy()
print(x)

{'a', 1, 'e', 4, 'c', 'd'}

In [21]:
# difference() : Return a set that contains the items that only exist in set x, and not in set y
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x-y
print(z)

{'banana', 'cherry'}

In [28]:
# difference_update() : Remove the items that exist in both sets:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple","banana"}
x.difference_update(y)
print(x)

{'cherry'}

In [29]:
# discard() : Remove specified item from the set:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'apple', 'cherry'}

In [30]:
# intersection() : Return a set that contains the items that exist in both set x, and set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

In [31]:
# isdisjoint() : Return True if no items in set x is present in set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)
print(z)

True

In [32]:
# issubset() : Return True if all items in set x are present in set y:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y)
print(z)

True

In [33]:
# issuperset() : Return True if all items set y are present in set x:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.issuperset(y)
print(z)

True

In [34]:
# pop() : Remove a random item from the set:
fruits = {"apple", "banana", "cherry"}
fruits.pop()
print(fruits)

{'apple', 'cherry'}

In [35]:
# symmetric_difference() : Return a set that contains all items from both sets, except items that are present in both sets:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'cherry', 'banana', 'google', 'microsoft'}

In [36]:
# union() : Return a set that contains all items from both sets, duplicates are excluded:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.union(y)
print(z)

{'apple', 'cherry', 'banana', 'google', 'microsoft'}

In [37]:
# update() : Insert the items from set y into set x:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.update(y)
print(x)

{'apple', 'cherry', 'banana', 'google', 'microsoft'}