# For loop

* A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).     
* This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming   languages.    
* With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.
* The for loop does not require an indexing variable to set beforehand.
* For loop is a control flow statement in programming that allows you to execute a block of code repeatedly based on a specified    condition.
* It is commonly used when you know how many times you want to execute a block of code.

* Syntax     
    for (initialisation; condition; increment/decrement){//code to be executed repeatedly}

In [2]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
for x in range(1,10):
    print(x*2)

2
4
6
8
10
12
14
16
18

In [9]:
word = "pythonista"
for letter in word:
    print(letter)

p
y
t
h
o
n
i
s
t
a

In [12]:
a1 = ['Python', 'Java', 'CSharp']
b2 = [1, 2, 3]
for i, j in zip(b2,a1):
    print(i,j)

1 Python
2 Java
3 CSharp

In [13]:
sales_data = {
    'store_1': [100, 150, 200],
    'store_2': [80, 120, 160],
    'store_3': [90, 130, 170]
}

# Calculate total sales for each store
total_sales = {}
for store, sales in sales_data.items():
    total_sales[store] = sum(sales)

# Print total sales per store
for store, total in total_sales.items():
    print(f"{store}: ${total}")

store_1: $450
store_2: $360
store_3: $390

In [15]:
# Monthly expenses for different departments
expenses = {
    'Marketing': [1200, 1500, 1100, 1300],
    'Sales': [800, 900, 850, 950],
    'R&D': [2000, 2100, 2200, 2300]
}

# Calculate total and average expenses for each department
aggregated_expenses = {}
for department, values in expenses.items():
    total_expense = sum(values)
    average_expense = total_expense / len(values)
    aggregated_expenses[department] = {'total': total_expense, 'average': average_expense}

# Print the aggregated expenses
for department, data in aggregated_expenses.items():
    print(f"{department} - Total: ${data['total']}, Average: ${data['average']:.2f}")

Marketing - Total: $5100, Average: $1275.00
Sales - Total: $3500, Average: $875.00
R&D - Total: $8600, Average: $2150.00

In [1]:
numbers = [12, 3, 56, 67, 89, 90]
count = 0
for n in numbers:
    count += 1
print(count)

6

In [4]:
for num in range(2, 10):
    for i in range(2, num):
        if num % i == 0:
            print(f"{num} equals {i} * {num//i}")
            break
    else:
        print(f"{num} is a prime number")

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [7]:
vehicles = ['Car', 'Cycle', 'Bus', 'Tempo']
for v in vehicles:
    if v == "Bus":
        continue
    print(v)

Car
Cycle
Tempo

In [8]:
vehicles = ['Car', 'Cycle', 'Bus', 'Tempo']
for v in vehicles:
    if v == "Bus":
        break
    print(v)

Car
Cycle